html{
    height:100%;
    background: radial-gradient(circle,#fff,#ccc);
}

#container{
    height: 400px;
    width:550px;
    background-color:#9DD2EA ;
    margin:100px auto;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 #009de4;
    position:relative;
}

#score{
    background-color: #f1ff92;
    color:#888e5f;
    padding:11px;
    position: absolute;
    left:500px;
    box-shadow: 0 4px #9da853;
    
}

#correct{
    position: absolute;
    left:260px;
    background-color: #42e252;
    color:#fff;
    padding:11px;
    display: none;
}

#wrong{
    position: absolute;
    left:260px;
    background-color: #de401a;
    padding:11px;
    color:#fff;
    display:none;
}

#question{
    width:80%;
    height:35%;
    margin:50px auto 10px auto;
    background-color: #9DA0ea;
    box-shadow: 0 4px #535aa8;
    font-size:100px;
    text-align: center;
    font-family: cursive,sans-serif;
    color:black;
    
}

#instruction{
    width:80%;
    height:15%;
    background-color: #b481d9;
    margin: auto;
    box-shadow: 0 4px #535aa8;
    text-align: center;
    line-height: 50px;
}

#choices{
    height:100px;
    width:80%;
    margin:10px auto;
}

.box{
    position: relative;
    height:85px;
    width:85px;
    background-color: #fff;

    float:left;
    margin-right: 33px;
    border-radius: 3px;
    cursor:pointer;
    box-shadow: 0 4px 0 rgba(0,0,0,0.2);
    text-align: center;
    line-height: 80px;
    transition: all .2s ;
}

.box:hover,
#startreset:hover{
    background-color: #9c89fc;
    color:#fff;
    box-shadow:0 4px 0 #6b54d3 ;
}

.box:active{
    box-shadow: 0 0 #6b54d3;
    top:4px;
}
#startreset:active{
    box-shadow: 0 0 #6b54d3;
    transform: translateY(1.6px);
    
}



#box4{
    margin-right: 0;
}

#startreset{
    position: relative;
    padding:10px;
    
    width:78px;
    background-color:rgba(255,255,255,.5);

    margin:auto;
    left : 0px;
    bottom: 10px;
    border-radius: 3px;
    cursor:pointer;
    box-shadow: 0 4px 0 rgba(0,0,0,0.2);
    text-align: center;
    transition: all .2s ;

}

#timeremaining{
    width:160px;
    padding:10px;
    position: absolute;
    top:395px;
    left:400px;
    background-color: rgba(181,235,36,0.8);
    border-radius: 3px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    /* visibility: hidden; */
    display:none;
}

#gameover{
    height:200px;
    width:500px;
    background:linear-gradient(#f3ca6b,#f3706c);
    color:#fff;
    font-size:2.5em;
    text-align: center;
    text-transform: uppercase;
    position:absolute;
    top:100px;
    left:45px;
    z-index: 100;
    display:none;
}